section{

    height: 500px;
    background-color: wheat;
    border: solid black 1px;

}

.hero{

    background-color: #1c1d25;
    height: 100vh;
}

footer{
    height: 500px;
    background-color: black;
}